
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /FilmBundle_Dev/FilmBundle/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /FilmBundle_Dev/FilmBundle/index.php [L]
</IfModule>

# END WordPress
